numpy==1.26.4
pandas==2.3.0
scikit-learn==1.7.0
sklearn-crfsuite==0.5.0
transformers==4.53.0
torch==2.6.0
sentencepiece==0.2.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.27.1
datasets==3.6.0
streamlit==1.46.1
joblib==1.5.1